In [ ]:
import pandas as pd
import numpy as np
import sklearn as sk

In [ ]:
#libraries for deep learning = tensorflow and keras
data = pd.read_csv("/content/drive/MyDrive/Churn_Modelling.csv")

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
# encoding
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
data['Balance'] = le.fit_transform(data['Balance'])

NameError: ignored

In [ ]:
data.head()

NameError: ignored

In [ ]:
y = data['Balance']
x = data.drop(columns = ["Balance"],axis=1)

NameError: ignored

In [ ]:
from sklearn.preprocessing import scale

In [ ]:
names = x.columns

NameError: ignored

In [ ]:
x = scale(X)

NameError: ignored

In [ ]:
x

NameError: ignored

In [ ]:
x = pd.DataFrame(x,columns = names)

NameError: ignored

In [ ]:
x.head()

NameError: ignored

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

NameError: ignored

In [ ]:
#module building
import tensorflow

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import dense

ImportError: ignored

In [ ]:
model = Sequential()

In [ ]:
#input layer
model.add(Dense(units = 4,kernal_initializer = "random_uniform",activation = 'relu'))

NameError: ignored

In [ ]:
#hidden layer
model.add(Dense(units = 10,kernal_initializer = "random_uniform",activation = 'relu'))

NameError: ignored

In [ ]:
#hidden layer
model.add(Dense(units = 12,kernal_initializer = "random_uniform",activation = 'relu'))

NameError: ignored

In [ ]:
model.add(Dense(units = 1,kernal_initializer = "random_uniform",activation = 'relu'))

NameError: ignored

In [ ]:
model.add(Dense(units = 1, kernel_initializer = "random_uniform"))

NameError: ignored

In [ ]:
#compile the model
model.compile(loss='mse',metrics=['mse'],optimizer="adam')

SyntaxError: ignored

In [ ]:
model.fit(x_train,y_train,epochs=5,batch_size = 10)

NameError: ignored

In [ ]:
pred = model.predict(x_test)

NameError: ignored

In [ ]:
y_test = np.array(y_test)

NameError: ignored

In [ ]:
error = (y_test-pred)

NameError: ignored

In [ ]:
error

NameError: ignored

In [ ]:
from sklearn import metrics

In [ ]:
metrics.mean_squared_error(pred,y_test)

NameError: ignored